.calc-block {width:100%; padding:50px;}

.calc{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
}
.stage{
	display: flex;
	margin: 0 0 24px;
	background: #f2f2f2;
	border-radius: 3px;
	padding: 19px 0 19px 22px;
}
.column_short{
	flex: 0 0 35%;
	color: #5b5b5b;
	font-size: 20px;
	text-transform: uppercase;
}
.column{
	flex: 0 0 65%
}
.column_result{
	padding: 0 30px;
}
.stage_2, .stage_3, .stage_4, .callback_form_calc{
	display:none;
}
.callback_form_calc{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:999;
	background-color:#fff;
	min-width:300px;
/* 	box-shadow:0 0 5px #ccc; */
}
.callback_form_calc .thanks {font-size:18px; text-align:center; margin:25px 0;}
.callback_form_calc .close-callback {/*display:none;*/ background: url(/images/close-callback3.png) no-repeat;}
.callback_form_calc .understand {text-align:center;}
.callback_form_calc .understand a {display:inline-block; padding:10px 20px; background:#ff6000; color:#fff; font-size:18px; text-decoration:none; border-radius:5px; border-right:2px solid #777; border-bottom:2px solid #777; border-top:2px solid #ff6000;  border-left:2px solid #ff6000;}
.callback_form_calc .understand a:active {border-right:2px solid #ff6000; border-bottom:2px solid #ff6000; border-top:2px solid #777;  border-left:2px solid #777;}
.callback_form_calc .hdr3 .tm {font-size:14px; margin:0px; padding:0;}

.text_head{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.text_result, .text_result p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	display: flex;
	flex-direction: column;
}
.text_result p.min-notice {font-size:16px;}
.text_result p.min-notice {width:380px; border:1px solid #ccc; padding:15px 20px; margin:0 10px 10px 10px;}
.step_index{
	background: #fff;
	font-size: 27px;
	line-height: 72px;
	border-radius: 36px;
	width: 72px;
	text-align: center;
	margin-right: 10px;
}
.sel_param_row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.sel_param_col{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding-left: 30px;
}
.label_param{
	flex: 0 0 45%;
	color: #333333;
	font-size: 20px !important;
	position: relative;
	padding: 7px 0 10px 0;
	border-radius: 3px;
/* 	cursor: pointer; */
	display:inline-block;
}
.label_param label{
	padding-left: 15px;
}
input[type="text"].changed_param,
select.changed_param {
	padding: 0px 14px;
	border-color: #cfcfcf;
	background-color:#fff;
	color: #5e5e5e;
	float: left;
	width:200px;
	height: 34px;
/* 	margin: 0 0 15px; */
	border: 1px solid;
}
/*.radio-input:after{
	content: "";
	height: 10px;
	width: 10px;
	border: 4px solid #fff;
	background: #fff;
	display: block;
	border-radius: 10px;
}
.radio-input:checked:after {
	background: #e0754a;
}*/







.radio-input {
	vertical-align: top;
	width: 22px;
	height: 22px;
	margin: 0 0 0 0 !important;
	position:relative;
	z-index:10;
	cursor: pointer;
}
.radio-input + label {
	display:inline-block;
	line-height:22px;
}
.radio-input:not(checked) {
	position: absolute;
	opacity: 0;
}
.radio-input:not(checked) + label {
	position: relative;
	padding: 0 0 0 35px;
	margin:0 !important;
	font-size:20px;
	cursor:pointer;
}
.radio-input:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 1px;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}
.radio-input:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #9FD468;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: all .2s;
}
.radio-input:checked + label:after {
	opacity: 1;
}
.radio-input:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}






#calc_summ, .callback_link_calc{
	background-color: #ff6000;
	color: #fff;
	line-height: 51px;
	border-radius: 11px;
	font-size: 21px;
	letter-spacing: -1px;
	padding-left: 56px;
	padding-right: 56px;
}
.callback_style{
	width: 530px;
}
#result_callback {margin-top:15px;}
/*	.callback_link_calc{
	m argin-top: 10px;                                 *
	color: black !important;
	text-decoration: none !important;
	border-bottom: 1px dashed;
	font-size: 18px !important;
	outline: none;
	color: #0081bd;
}*/
.span_mark{
	font-size: 18px !important;
	flex: 0 0 90px;
}
.label_param_betwin{
	flex: 0 0 281px !important;
}
.sel_padding{
	padding-left: 32px;
}
.koefs-dificults {display:none;}
.koefs-dificults td {text-align:left !important;}
.koefs-dificults td {padding:10px 10px !important;}

/* Small devices, Tablets */
@media only screen and (max-width:768px){
	.stage {display:block;}
	.column_short {float:none; width:100%;}
	.sel_param_row {display:block;}
	.sel_param_col {padding-top:10px;}
	.label_param {display:block;}
	input[type="text"].changed_param, select.changed_param {float:none; width:100%;}
/* 	.text_style table td {display:block;} */
	.koefs-dificults td {display:block;}
	.text_result p.min-notice {width:auto; margin:0 0 15px;}
	.column_result {padding:0 15px;}
	.callback_form_calc {width:93%;}
}

@media only screen and (max-width:480px){
	.calc-block {padding:50px 0;}
	.stage {padding:15px 10px;}
	.step_index {width:42px; line-height:42px;}
	.text_head {font-size:18px;}
	#calc_summ, .callback_link_calc {padding:0; width:100%;}
}






.calc-block input[type="text"] { border-radius: 4px; font-size: 14px; }
.calc-block select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAeCAYAAAAo5+5WAAAAYElEQVR42mMQllCs+P//vwcDtcGowaMGjxo8avCowUBguXjx4j24JKFyluS62GbFihX70QWhYjaUBoX96tWrD8A4ULY9tcLYcePGjYdBGMSmduS5QPFoOh41eNTgQWEwAESekWedMcnUAAAAAElFTkSuQmCC'), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: inherit;
   font-size: 14px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.calc-block input[type="checkbox"] { width: 20px; height: 20px; margin: 0; vertical-align: top; }
.calc-block .calc { font-size: 0; background: #f2f2f2; }
.calc-block .stage.pl0 { padding-left: 0; }
.calc-block .stage { display: block; background: none; margin-bottom: 0; padding-top: 10px; padding-bottom: 10px; }
.calc-block .stage_4 table td { text-align: left; font-size: 14px; line-height: 20px; width: 50%; }
.calc-block .stage_4 table td + td { padding-left: 15px; }
.calc-block .stage_4 .stage { display: flex; }
.calc-block .stage_4 .stage.db { display: block; }
.calc-block .sel_param_col { padding-left: 0; }
.calc-block .step_index { background: none; width: auto; font-size: inherit; margin-right: 5px; line-height: 40px; }
.calc-block .label_param { padding: 7px 0 0px 0; flex: 0 0 50%; margin-right: 15px; font-size: 14px!important; }
.calc-block .text_head { font-size: 16px; }
.calc-block .text_head.cst { text-transform: uppercase; color: #5b5b5b; }
.calc-block .sel_param_row { margin-bottom: 10px; justify-content: end; }
.calc-block .sel_padding { padding-left: 0; }
.calc-block .label_param_betwin { flex: 0 0 50% !important; margin-right: 15px; }
.calc-block .stage_1 { width: 50%; display: inline-block; }
.calc-block .stage_2 { width: 50%; }
.calc-block .stage_2[style*="display: block"] { display: inline-block!important; }
.calc-block #result_calc > p:first-child { font-size: 18px!important; margin-bottom: 20px; }
.calc-block #result_calc > p { margin-left: 0; }
.calc-block .radio-input + label { font-size: 14px; }
.calc-block .span_mark { font-size: 14px !important; }
@media (max-width: 768px) {
	.calc-block .calc { text-align: left; }
	.stage_4 table { display: block; }
	.stage_4 table tbody { display: block; }
	.stage_4 table tr { display: block; }
	.stage_4 table tr td { display: inline-block; }
	.calc-block .stage.fin { display: block; }
	.calc-block .stage.fin > .column_short { margin-bottom: 20px; }
	.calc-block .stage.fin > .column_result { padding-left: 0; }
}
@media (max-width: 640px) {
	.calc-block { padding-top: 0; padding-bottom: 0; }
	.calc-block .text_head { font-size: 16px; }
	.calc-block .step_index { line-height: 16px; }
	.calc-block .stage_1 { width: 100%; }
	.calc-block .stage_2 { width: 100%; }
	.calc-block .stage { margin: 0; padding-bottom: 10px; }
	.calc-block .label_param { padding: 0; margin-right: 0; margin-bottom: 4px; }
	.calc-block .sel_param_row .label_param { font-size: 16px!important; padding-top: 4px; margin-bottom: 0; }
	.calc-block input[type="checkbox"] { width: 16px; height: 16px; }
	.calc-block .stage_4 table td { display: block; width: auto; font-size: 16px; padding: 0 0 2px; }
	.calc-block .stage_4 table td + td { padding-left: 0; }	
	.calc-block .min-notice { padding-left: 20px!important; }
	.calc-block #result_calc > p:first-child { font-size: 16px!important; padding-left: 0 !important; }
}

.calculator-load-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: #fff;
	transform: translate(-50%, -50%);
	padding: 30px;
	z-index: 901;
	max-width: 90%;
	width: 800px;
}
.calculator-load-modal .content {
	width: 100%;
	height: 400px;
	overflow-y: scroll;
}
.calculator-load-modal table {
	width: 100%;
}
.calculator-load-modal .calc-block {
	padding: 0;
}
.calculator-load-modal .close-modal {
	float: right;
	font-size: 20px;
	cursor: pointer;
	background-color: transparent;
}