Redirect 301 /al_rez.htm https://rezalmaz.ru/almaznaja_rezka/
Redirect 301 /al_bur.htm https://rezalmaz.ru/almaznoe_sverlenie/
Redirect 301 /al_shtrob.htm https://rezalmaz.ru/almaznoe_stroblenie/ 
Redirect 301 /al_usil.htm https://rezalmaz.ru/usilenie_projomov/
Redirect 301 /demontazhnye_raboty.htm https://rezalmaz.ru/demontazh_sten/
Redirect 301 /klienti.htm https://www.rezalmaz.ru/about/clients/
Redirect 301 /kontakt.htm https://www.rezalmaz.ru/about/contacts/
Redirect 301 /vacancies.htm https://www.rezalmaz.ru/about/jobs/
Redirect 301 /about.htm https://www.rezalmaz.ru/
Redirect 301 /skidka.htm https://www.rezalmaz.ru/
Redirect 301 /almaznoe_sverlenie/ https://www.rezalmaz.ru/almaznoe_burenie/

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{ENV:HTTPS} !on [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{THE_REQUEST} //
RewriteRule .* /$0 [R=301,L]

RewriteCond %{HTTP_HOST} ^rezalmaz\.ru$ [NC]
RewriteRule ^(.*)$ https://www.rezalmaz.ru/$1 [R=301,L]

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-l
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_URI} !(.*)/$
# RewriteCond %{REQUEST_URI} !\.(.+){2,5}$
# RewriteRule ^(.*[^/])$ /$1/ [R=301,L]

# ErrorDocument 404 /page404.htm
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
php_flag session.use_trans_sid off
#php_value display_errors 1
#php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
ExpiresActive on
ExpiresByType image/jpeg "access plus 3 day"
ExpiresByType image/gif "access plus 3 day"
ExpiresByType image/png "access plus 3 day"
ExpiresByType text/css "access plus 3 day"
ExpiresByType application/javascript "access plus 3 day"
</IfModule>


#     <ifModule mod_expires.c>
#         ExpiresActive On
#         ExpiresDefault "access plus 3600 seconds"
#         ExpiresByType image/gif "access plus 2592000 seconds"
#         ExpiresByType image/jpeg "access plus 2592000 seconds"
#         ExpiresByType image/png "access plus 2592000 seconds"
#         ExpiresByType text/css "access plus 604800 seconds"
#         ExpiresByType text/javascript "access plus 604800 seconds"
#         ExpiresByType application/x-javascript "access plus 604800 seconds"
#     </ifModule>

    <ifModule mod_headers.c>
        <filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
            Header set Cache-Control "max-age=2592000, public"
        </filesMatch>
        <filesMatch ".(css|js)$">
            Header set Cache-Control "max-age=604800, public"
        </filesMatch>
        <filesMatch ".(html|txt)$">
            Header set Cache-Control "max-age=172800, public, must-revalidate"
        </filesMatch>
    </ifModule>

    <ifModule mod_headers.c>
        <filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
            Header unset ETag
            FileETag None
        </filesMatch>
    </ifModule>
# 
    <IfModule mod_deflate.c>
        <FilesMatch ".(css|js|x?html?|php|xml)$">
            SetOutputFilter DEFLATE
        </FilesMatch>
    </IfModule>
    <ifModule mod_gzip.c>
        mod_gzip_on Yes
        mod_gzip_dechunk Yes
        mod_gzip_item_includefile .(css|js|x?html?|php|xml)$
        mod_gzip_item_includehandler ^cgi-script$
        mod_gzip_item_includemime ^text/.*
        mod_gzip_item_includemime ^application/x-javascript.*
        mod_gzip_item_excludemime ^image/.*
        mod_gzip_item_excluderspheader ^Content-Encoding:.*gzip.*
    </ifModule>
