/*-------------------------------------------------------------------

	Skype:		czalexpic
	Email:		czalexpic@gmail.com
	Website:	http://www.free-lance.ru/users/PhoenAleXiX
	
-------------------------------------------------------------------*/

@media Screen  {

html {font-size: 101.5%;}
.clear {overflow: hidden; height: 1px;}
* +html .inner_two_column .right_column .grey_box_2 h2, * +html .inner_two_column .right_column .grey_box_2 h3 {padding-top: 2px; margin-top: -1px;}
* +html .inner_two_column .right_column {width: 38.4%;}
* +html ul.page_menu li {width: 19.9%;}
* +html .header ul.top_menu li.column_3 {width: 21.9%;}

* html .header, * html .intex_two_column, * html ul.page_menu, * html .index_three_column, * html .inner_two_column,
* html ul.partner_list_2, * html .order_form_2, * html .photo_galery
{overflow: visible; height: 1%;}
* html .header .column_1 {margin: 0 0 0 1.3%;}
* html .header ul.top_menu {margin: 0 1.3% 0 0;}
* html .header ul.top_menu li.column_3 {width: 21.9%;}
* html .index_three_column .center_column {margin: 0 1.75%;}
* html .inner_info_box_content  {height: 229px;}

* html .inner_two_column .left_column {margin: 0 1% 0 1.65%; overflow: hidden;}
* html .inner_two_column .right_column {margin: 0 1.65% 0 0; overflow: hidden;}

}
