@media Screen  {

body {font-family: Arial, Helvetica, sans-serif; font-size:62.5%;}
a img {border: none;}
a {outline: none;}


#in{
	height:20px;
	min-width:80px;
	margin-top:-60px;
	margin-left:20px;
	margin-bottom:38px;
	padding:10px;
	background: #FFF; 
	color:#000;
	font-size:16px;
	position: absolute;
  opacity: 0.70;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  -khtml-opacity: 0.70;
  -moz-opacity: 0.70;
  text-align: center;

}
#hide{
	display:none;
}
.pic{
	float:left;
	display:none;
}

/* _Content column_ 
--------------------*/ 
p + h3,ul + h3 {padding: 20px 0 5px 0 !important;}
.big_font{font-size:15px;}
span.orange_number{font-size:32px; font-weight:bold; padding:0 15px; color:#ff6000;float:left;height: 32px;line-height: 32px;}

.intex_two_column {margin: 0 2.6% 0 3.4%; padding: 0 430px 0 0; overflow: hidden;}
.intex_two_column .left_column {float: left; width: 100%;}
.intex_two_column .right_column {float: left; width: 400px; margin: 0 -430px 0 0; padding: 0 0 0 30px;}

.text_style h1, .text_style_h2 h2 {font-size: 24px; font-weight: normal; color: #fff; margin: 0 0 10px; padding:5px 10px; background: #ff6000; /*float: left;*/ display:inline-block !important;}
.text_style h2, .text_style .h2 {font-size:22px; line-height:28px; font-weight: normal; color: #fff; margin: 0 0 10px;display:block;}
.text_style h2 span, .text_style .h2 span {padding: 3px 4px; background: #ff6000;}
.text_style h3, .text_style .hdr3 {font-size: 20px; font-weight: normal; color: #333; padding: 5px 0;}
.text_style h3 span, .text_style .hdr3 span {padding: 3px 4px; background: #dedede;}
.text_style h4, .text_style .h4 {font-size: 18px;}
.text_style h2.h2_bg, .text_style h2.h3_bg, .text_style h3.h3_bg{display: inline-block;}
.text_style h2.h3_bg{color:#333;}
.text_style h2.h2_bg {padding: 3px 4px !important;background: #ff6000;margin-bottom: 15px !important; margin-top: 20px;}
.text_style h3.h3_bg, .text_style h2.h3_bg {padding: 3px 4px !important;background: #dedede;margin-bottom: 15px !important;}
.text_style .hdr3 {margin:15px 0 10px 0;}
.text_style p {font-size: 13px; line-height: 20px; color: #333; padding: 0 10px 0px; clear: both;}
.text_style p, .text_style ul li, .text_style ol li{color: #000 !important;font-size: 14px !important;}
.inner_info_box_content.text_style p {font-size: 13px !important;color: #333 !important;}
.inner_info_box_content.text_style ul li, .inner_info_box_content.text_style ol li {font-size: 12px !important;color: #333 !important;}
.text_style a {color: #0081bd; text-decoration: underline;}
.text_style a:hover {text-decoration: none;}
.text_style p.more_prize {padding: 10px 0 0 5px;}

.text_style .padding_left_right {padding-left: 25px!important; padding-right: 25px!important;}
.text_style .no_bg {background: none!important;}
.text_style .color_black {color: #000!important;}
.text_style .padding_top {padding-top: 12px!important;}

.text_style ul {list-style: none; padding: 0 20px; margin-bottom: 15px;}
.text_style ul ul ,.text_style ol ol{margin-bottom: 0px;}
.text_style ol {padding: 0 31px; margin-bottom: 15px;font-size: 12px;line-height: 18px;}
.text_style ul li {padding: 0 0 5px 11px; background: url(images/li.gif) 0 5px no-repeat; font-size: 12px; line-height: 18px;}

.text_style table {border: none; border-collapse: separate; border-spacing: 1px; width: 100%; margin-top: 15px;}
.text_style table caption {font-size: 24px; font-weight: normal; color: #fff; padding: 3px 5px; background: #777; text-align: left; border-left: 1px solid #f5f5f5; border-right: 1px solid #f5f5f5;}
.text_style table caption h2 {display: inline-block; font-size: 24px; padding: 3px 5px;}
.text_style table caption span1 {font-size:12px; font-weight:bold; padding-top:12px;}
.text_style table caption span {font-size:14px; font-weight:normal; padding:4px; background-color: #FFAD7B;}
#strb{position:absolute; display:block; width: 200px; margin: -41px 0 0 195px;}
.text_style table th {font-size: 13px; font-weight: bold; color: #000; padding: 12px 1px; text-align: center; background: #dedede;}
.text_style table th span {display: block; font-weight: normal;}
.text_style table td {padding: 10px 0; text-align: center; color: #555; font-size: 12px; background: #f1f1f1; border-bottom: 1px solid #f5f5f5;}
.text_style table tr.zebra td {background: #ececec;}

.text_style label, .text_style input, .text_style select, .text_style textarea {font: 13px Arial, Helvetica, sans-serif;}

.clear_left {clear: left;}


ul.page_menu {margin: 0 2.6%; overflow: hidden; list-style: none; padding: 14px 0 48px;}
ul.page_menu li {float: left; font-size: 13px; color: #333; text-align: center; width: 20%;}
ul.page_menu li a {color: #333; text-decoration: underline;}
ul.page_menu li a strong {font-weight: normal;}
ul.page_menu li span.sm_ico {height: 172px; display: block; margin: 0 auto 7px;}
ul.page_menu li span.ico_1 {background: url(images/ico_1.png) 0 100% no-repeat; width: 159px;}
ul.page_menu li span.ico_2 {background: url(images/ico_2.png) 0 100% no-repeat; width: 155px;}
ul.page_menu li span.ico_3 {background: url(images/ico_3.png) 0 100% no-repeat; width: 156px;}
ul.page_menu li span.ico_4 {background: url(images/ico_4.png) 0 100% no-repeat; width: 157px;}
ul.page_menu li span.ico_5 {background: url(images/ico_5.png) 0 100% no-repeat; width: 179px;}
ul.page_menu li span.ico_6 {background: url(images/ico_6.png) 0 100% no-repeat; width: 179px;}
ul.page_menu li a strong {padding: 2px 3px;}
ul.page_menu li a:hover {text-decoration: none;}
ul.page_menu li a:hover span, ul.page_menu li.current a span {background-position: 0 0;}
ul.page_menu li.current a strong, ul.page_menu li a:hover strong {background: #ff6000; color: #fff;}
ul.page_menu li.current a {text-decoration: none;}
ul.page_menu p.price {margin-top:3px;}
ul.page_menu p.price a {display:inline-block; line-height:26px; padding:0 20px; background:#ff6000; color:#fff; text-decoration:none;}
ul.page_menu p.price a:hover {box-shadow:0px 0px 5px rgba(0,0,0,0.7);}


.index_three_column {overflow: hidden; margin: 0 2.6%; /*padding: 0 0 60px;*/ padding: 0 0 10px;}
.index_three_column .left_column, .index_three_column .center_column, .index_three_column .right_column {width: 31%; float: left;}
.index_three_column .center_column {margin: 0 3.5%;}

.index_three_column h2 {margin: 0 5px 5px;}
.index_three_column hr {border: none; border-top: 1px solid #cfcfcf; border-bottom: 1px solid #f9f9f9; margin: 0 0 5px;}

ul.partner_list {float:left; background-color:#fff;}
ul.partner_list li {float: left; width: 50%; border: none; padding: 0 0 10px; background: none;}
ul.partner_list li.last {padding-top: 35px;}
ul.partner_list li.last a {background: #dedede; color: #000; padding: 5px 7px;}
ul.partner_list li img {width:100%; height:auto;}

ul.link_black li a {color: #333;}
ul.link_black li.last {background: none;}
ul.link_black li.last a {color: #0081bd;}

.inner_info_box {margin: 0 2.6%; padding: 0 0 35px;}
.grey_box_1 {overflow: hidden;width:1008px; height:248px;}
.bg_1{background: url(images/bg_1.png) left top no-repeat;}
.bg_2{background: url(images/bg_2.png) left top no-repeat;}
.bg_3{background: url(images/bg_3.png) left top no-repeat;}
.bg_4{background: url(images/bg_4.png) left top no-repeat;}
.bg_5{background: url(images/bg_5.png) left top no-repeat;}
.bg_6{background: url(images/bg_6.png) left top no-repeat;}
.height_auto {height:auto;}
.grey_box_1 .grey_header {background: url(images/g1_t_c.png) repeat-x; height: 8px; margin: 0 8px;}
.grey_box_1 .grey_header .decor_l {background: url(images/g1_t_l.png) no-repeat; height: 8px; width: 8px; margin: 0 0 0 -8px; float: left;}
.grey_box_1 .grey_header .decor_r {background: url(images/g1_t_r.png) no-repeat; height: 8px; width: 8px; margin: 0 -8px 0 0; float: right;}
.grey_box_1 .grey_content {background: url(images/g1_r.png) 100% 0 repeat-y; padding: 0 3px 0 0;}
.grey_box_1 .grey_content .grey_content_l {background: url(images/g1_l.png) 0 0 repeat-y; padding: 0 0 0 3px;}
.grey_box_1 .grey_content .grey_content_r {background: url(images/g1_c.png) repeat; padding-bottom: 1px;}
.grey_box_1 .grey_footer {background: url(images/g1_b_c.png) repeat-x; height: 8px; margin: 0 8px;}
.grey_box_1 .grey_footer .decor_l {background: url(images/g1_b_l.png) no-repeat; height: 8px; width: 8px; margin: 0 0 0 -8px; float: left;}
.grey_box_1 .grey_footer .decor_r {background: url(images/g1_b_r.png) no-repeat; height: 8px; width: 8px; margin: 0 -8px 0 0; float: right;}

.grey_box_2 {overflow: hidden;}
.grey_box_2 .grey_header {background: url(images/g2_t_c.png) repeat-x; height: 6px; margin: 0 6px;}
.grey_box_2 .grey_header .decor_l {background: url(images/g2_t_l.png) no-repeat; height: 6px; width: 6px; margin: 0 0 0 -6px; float: left;}
.grey_box_2 .grey_header .decor_r {background: url(images/g2_t_r.png) no-repeat; height: 6px; width: 6px; margin: 0 -6px 0 0; float: right;}
.grey_box_2 .grey_content {background: url(images/g2_r.png) 100% 0 repeat-y; padding: 0 4px 0 0;}
.grey_box_2 .grey_content .grey_content_l {background: url(images/g2_l.png) 0 0 repeat-y; padding: 0 0 0 4px;}
.grey_box_2 .grey_content .grey_content_r {background: #fff;    padding-bottom: 1px;}
.grey_box_2 .grey_footer {background: url(images/g2_b_c.png) repeat-x; height: 6px; margin: 0 6px;}
.grey_box_2 .grey_footer .decor_l {background: url(images/g2_b_l.png) no-repeat; height: 6px; width: 6px; margin: 0 0 0 -6px; float: left;}
.grey_box_2 .grey_footer .decor_r {background: url(images/g2_b_r.png) no-repeat; height: 6px; width: 6px; margin: 0 -6px 0 0; float: right;}
.grey_box_2.calc_right {margin-top:15px !important;}

.faq .grey_box_2 .grey_content .grey_content_l .grey_content_r .text_style p{padding:4px 4px 4px 10px !important;}
.faq h3{padding-top: 20px !important;}
.answer {padding:15px 0 0 0;}
.answer p{padding:4px 4px 4px 14px; font-weight:bold;}

.review {font-size: 13px; margin:50px 0 4px 0;}
.review .user {border:1px solid #E2E2E2; font-style:italic; padding: 5px; width: 350px; border-bottom:none; background-color: #FFF;}
.review .user_says {border: 1px solid #E2E2E2; padding: 10px; border-top:none; background-color: #FFF;}

.response {font-size: 13px;}
.response span {float:right; border:1px solid #E2E2E2; font-style:italic; font-weight:bold; padding: 5px; border-bottom:none; background-color: #FFF;}
.response_text {clear:both;border: 1px solid #E2E2E2; padding: 10px; border-top:none; background-color: #FFF;}

.inner_info_box_content {padding: 18px 380px 8px 4px; min-height: 219px; position: relative;}
.inner_info_box_content_2 {padding: 4px 6px 0;}
.inner_info_box_content_2 p {padding-bottom: 5px;}
.inner_info_box_content img.inner_info_box_decor  {position: absolute; top: -6px; right: 0;}
.inner_info_box_content h2 {padding-top: 10px; overflow: hidden;}
.inner_info_box_content h2 span {padding: 0 0 0 10px; float: left;}
.inner_info_box_content p {padding: 0 10px 9px;}
.inner_info_box_content_kr {padding: 18px 440px 8px 4px; min-height: 219px; position: relative;}

.inner_two_column {overflow: hidden; padding: 0 0 25px;}
.inner_two_column .left_column {margin: 0 2% 0 3.3%; width: 52.9%; float: left; overflow: hidden; padding: 4px 0 0;}
.inner_two_column .right_column {margin: 0 3.3% 0 0; width: 38.5%; float: left; overflow: hidden;}

.inner_two_column_2 {overflow: hidden; padding: 0 0 25px;}
.inner_two_column_2 .left_column {margin: 0 4.2% 0 3.3%; width: 59.6%; float: left; overflow: hidden; padding: 4px 0 0;}
.inner_two_column_2 .right_column {margin: 0 3.3% 0 0; width: 29.5%; float: left; overflow: hidden;}
.column_4 {padding-top:10px !important;}


.photo_galery {padding: 33px 0 0; overflow: hidden; margin-bottom: 10px;}
.photo_galery .big_photo {padding: 0 0 8px 2px; max-width:570px; height:428px; overflow:hidden;text-align: center;}
.photo_galery .big_photo+#in {height:auto;}
.photo_galery ul {}
.photo_galery ul li {display: inline; background: none; padding: 0 8px 8px 0;}
.photo_galery ul li a img {padding: 2px;}
.photo_galery ul li a:hover img, .photo_galery ul li.current a img {padding: 0; border: 2px solid #ff6000;}

.inner_two_column .right_column .grey_box_2 {margin: 0 0 25px 8px; overflow: visible;}
.inner_two_column .right_column .grey_box_2 h2, .inner_two_column .right_column .grey_box_2 h3 {padding: 0 0 15px; margin: 0;}
.inner_two_column .right_column .grey_box_2 h2.arrow_bg,
.inner_two_column .right_column .grey_box_2 .arrow_bg {margin: -1px 0 0 -12px; padding: 0 0 15px; position: relative; float: left;}
.inner_two_column .right_column .grey_box_2 h2.arrow_bg span,
.inner_two_column .right_column .grey_box_2 .arrow_bg span {background: url(images/h2_bg.png) no-repeat; padding: 3px 4px 3px 15px;}
.inner_two_column .right_column .grey_box_2 p {padding: 0 20px 15px;}

.order_form {padding: 0 20px 15px;}
.order_form .textarea_l {background: url(images/textarea_l.gif) no-repeat;}
.order_form .textarea_r {background: url(images/textarea_r.gif) 100% no-repeat; padding: 4px; height: 44px;}
.order_form textarea {border: none; width: 100%; height: 44px; color: #999; line-height: 20px;}

.inner_two_column .right_column .text_box {padding: 0 0 0 12px;}
.inner_two_column .right_column .text_box p {padding-left: 0; padding-right: 0;}


/*.order_form_2 {padding: 0 20px 15px; overflow: hidden;}
.order_form_2 label {color: #333; display: block; padding: 0 0 5px;}
.order_form_2 label span {color: #ff6000;}
.order_form_2 .input_text_l {background: url(images/input_l.gif) no-repeat; height: 22px; padding: 0 0 15px;}
.order_form_2 .input_text_r {background: url(images/input_r.gif) 100% no-repeat; padding: 0 5px; height: 22px;}
.order_form_2 .input_text_r input {line-height: 22px; height: 22px; color: #555; display: block; background: none; border: none; width: 100%;}

.order_form_2 .input_text_l.wrong {background: url(images/input_l_wrong.gif) no-repeat;}
.order_form_2 .wrong .input_text_r {background: url(images/input_r_wrong.gif) 100% no-repeat;}

.order_form_2 ul {overflow: hidden; float: right; padding: 13px 0 0;}
.order_form_2 ul li {float: left; padding: 0 0 0 10px; background: none;}
.order_form_2 ul li input {background: none; border: none; display: block; text-align: center; height: 22px; cursor: pointer;}
.order_form_2 ul li input.clear {background: url(images/button_clear.gif) no-repeat; width: 90px; color: #888;}
.order_form_2 ul li input.button {background: url(images/button_send.gif) no-repeat; width: 100px; color: #fff;}

.order_form_2 .textarea_normal {background: url(images/textarea_l.gif) no-repeat;}
.order_form_2 .textarea_normal .textarea_r {background: url(images/textarea_r.gif) 100% no-repeat; padding: 4px;}
.order_form_2 .textarea_normal .textarea_r textarea {border: none; width: 100%; height: 44px; color: #999; line-height: 20px;}

.order_form_2 .textarea_big {background: url(images/textarea_l_2.gif) no-repeat; height: 111px;}
.order_form_2 .textarea_big .textarea_r {background: url(images/textarea_r_2.gif) 100% no-repeat; padding: 5px;}
.order_form_2 .textarea_big .textarea_r textarea {height: 101px; width: 100%; background: none; border: none; display: block; color: #555;}

.order_form_2 .textarea_big.wrong {background: url(images/textarea_l_2_wrong.gif) no-repeat;}
.order_form_2 .wrong .textarea_r {background: url(images/textarea_r_2_wrong.gif) 100% no-repeat;}*/





.order_form_2 {padding: 0 20px 15px; overflow: hidden; min-width:270px;}
.order_form_2 label {color: #333; display: block; margin-bottom:10px; font-size:16px;}
.order_form_2 label span {color: #ff6000;}
.order_form_2 input {display:block; color:#555; font-size:16px; padding:10px; background:none; border:1px solid #ccc; width:100%; border-radius:5px;}
.order_form_2 input[type=text] {margin-bottom:15px;}

.order_form_2 ul {overflow: hidden; /*float: right;*/ padding: 13px 0 0;}
.order_form_2 ul li {/*float: left; padding: 0 0 0 10px;*/ padding:0; background: none;}
.order_form_2 ul li input {background: none; border: none; display: block; text-align: center; cursor: pointer;}
.order_form_2 ul li input.button {padding:10px 20px; background:#ff6000; color:#fff;}
.order_form_2 ul li input.button.no-back {background-color:transparent; color:#ff6000;}

.order_form_2 .textarea_normal {background: url(images/textarea_l.gif) no-repeat;}
.order_form_2 .textarea_normal .textarea_r {background: url(images/textarea_r.gif) 100% no-repeat; padding: 4px;}
.order_form_2 .textarea_normal .textarea_r textarea {width: 100%; height: 44px; color: #999; line-height: 20px;}

.order_form_2 .textarea_big {/*background: url(images/textarea_l_2.gif) no-repeat;*/ height: 111px;}
.order_form_2 .textarea_big .textarea_r {/*background: url(images/textarea_r_2.gif) 100% no-repeat; padding: 5px;*/}
.order_form_2 .textarea_big .textarea_r textarea {height: 101px; width: 100%; padding:10px; background: none; border:1px solid #ccc; display: block; color: #555; resize:none; border-radius:5px;}

.order_form_2 .wrong {border:1px solid red !important;}
/*.order_form_2 .textarea_big.wrong {background: url(images/textarea_l_2_wrong.gif) no-repeat;}
.order_form_2 .wrong .textarea_r {background: url(images/textarea_r_2_wrong.gif) 100% no-repeat;}*/




.padding_top_43 {padding-top: 43px;}
.padding_top_57 {padding-top: 57px;}

ul.page_nav {text-align: center; border-top: 1px solid #cecece; margin: 0 20px; padding: 10px 0 25px}
ul.page_nav li {padding: 0 5px 2px; background: none; display: inline; font-size: 13px; color: #393a3c; line-height: 18px;}
ul.page_nav li strong {background: url(images/page_nav.png) 50% no-repeat; padding: 6px 7px; color: #fff;}
ul.page_nav li a {color: #393a3c;}

ul.partner_list_2 {list-style: none; overflow: hidden; padding: 15px 0 25px;}
ul.partner_list_2 li {float: left; width: 111px; overflow: hidden; margin: 0 2% 0 4%; height: 200px; font-size: 11px; color: #555;} 
ul.partner_list_2 li div.logo_box {width: 111px; height: 113px; position: relative; text-align: center; margin: 0 0 5px;}
ul.partner_list_2 li div.logo_box img {position: absolute;bottom: 0;left: 0;width: 100%;}
ul.partner_list_2 li div.logo_box a {position: absolute; bottom: 0; left: 0; width: 100%;}

.toggleSlide {display:none;}

}
div.oborudovanie {float: left; margin:5px; text-align: center;}
img.oborudovanie {width:150px; border:1px solid #999;}
img.oborudovanie_vnutrennie {width:220px; border:1px solid #999; float:left; margin-right: 10px; margin-top: 5px;}

.reveal-modal {
display: none;
visibility: hidden;
position: fixed;
bottom: inherit !important;
left: 0;
z-index: 99;
height: auto;
width: 440px;
background-color: rgb(255, 255, 255);
-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
opacity: 1;
margin-top: -130px;
top: 50% !important;
right: inherit !important;
}

.price_hdr_line {}
.price_hdr_line .col1 {display:inline-block; width:80%;}
.price_hdr_line .col1 h1 {background-color:transparent !important; color:#000;}
.price_hdr_line .col2 {display:inline-block; width:19%; text-align:right;}
.price_hdr_line .col2 a {font-size:16px;}
.price_link {display:inline-block; font-size:16px; background-color:#ff6000; color:#fff !important; padding:9px 15px; text-decoration:none !important;}
.price_link:hover {background-color:#FFAD7B;}

.a-phone {text-decoration:none; color:#000;}

.icon_calc_1 {position:relative; padding-left:50px !important; font-size:18px !important;}
.icon_calc_1:before {content:''; position:absolute; top:-5px; left:15px; width:30px; height:30px; background:url('/images/icon_calc.png') no-repeat 0 0/100% 100%;}

.phone_fax{display:none !important;}

@media (max-width:1085px){
.video iframe{width:100%}
}
@media only screen and (min-width: 768px){
	.ya-share2.ya-share2_inited {margin-left: 30px;}
}

p.form_title {
    padding: 3px 4px !important;
    background: #ff6000;
    margin-bottom: 15px !important;
    margin-top: 20px;
    display: inline-block;
    font-size: 24px !important;
    line-height: 28px;
    font-weight: normal;
    color: #fff !important;
}
p.skidka{
    margin: -1px 0 0 -12px;
    padding: 0 0 15px;
    position: relative;
    float: left;
	font-size: 22px !important;
    line-height: 28px;
    font-weight: normal;
    color: #fff !important;
    display: block;
}
p.skidka span{
	background: url(images/h2_bg.png) no-repeat;
    padding: 3px 4px 3px 15px;
}